body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 20px;
    border: 5px solid black
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #a5a8ae;
    color: #2b2839;
    border-bottom: 6px solid #262d35;
    box-shadow: 2px 2px olive
        
    /*C4BBAF
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.glow {
  font-size: 20px;
  color: #2b2839;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 7px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px red, 0 0 40px red, 0 0 50px red, 0 0 55px red, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}